beautifulsoup4
bs4
cachetools
certifi
chardet
click
dataclasses
Flask
google-auth
google-auth-oauthlib
gspread
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
oauth2client
oauthlib
pkg-resources
pyasn1
pyasn1-modules
pyparsing
PySocks
requests
requests-oauthlib
rsa
six
soupsieve
tweepy
urllib3
Werkzeug
